    <h2>Félicitations !! </h2>

    <p>Votre inscription à notre Newsletter a bien été prise en compte</p>

<footer>
    <p>Si vous souhaitez vous désinscrire, faites le nous savoir en cliquant <a href="http://projet-wf3.infinityfreeapp.com/contact">ici</a>.</p>
</footer>