{% extends 'base.html.twig' %}

{% block body %}

<h2 class="text-center">Bienvenue sur le site WebForce-Sport !</h2>

<h3>Présentation</h3>

<p>Nous sommes un groupe de quatre étudiants en développement web et web mobile à l'école WebForce3 de Strasbourg : François BANITZ, Matthieu SCHERER, Melvin DOUCET et Wassim KASSEM.</p>

<p>Dans le cadre de notre projet de soutenance, nous avons créé ce <strong>site de vente d'articles de sport</strong> spécialisé dans les sports de ballon tels que le football, le basketball, le volleyball et le handball. Le site permet de sélectionner de commander des produits rangés par catégories (sports) et sous-catégories (ballons, maillots, chaussures et accessoires) en les ajoutant à un panier avant de valider la commande.</p>

<h3>Technologies</h3>

<p>Notre principal outil de création a été le framework PHP <strong>Symfony</strong> version 5 grâce auquel nous avons pu générer facilement des fonctionnalités diverses et variées telles que des formulaires d'inscription, de connexion et de contact ainsi que tout un espace réservé à l'administrateur pour la gestion des produits disponibles et et des comptes d'utilisateur.</p>

<p>Nous avons également eu recours à <strong>Git et Github</strong> afin de travailler sur un projet commun en partageant nos modifications individuelles.</p>

<p>L'aspect front-end du site a été réalisé au moyen de la librairie CSS <strong>Bootstrap</strong>, laquelle a grandement facilité la mise en place d'un visuel responsive et riche en style.</p>

<p>Les polices d'écriture utilisées proviennent d'une part de Bootstrap et d'autre part du catalogue de polices libres de droits de <strong>Google Fonts</strong>.</p>

<p>Certaines fonctionnalités, telles que la génération de suggestion de noms d'utilisateur aléatoires dans les formulaires, ont été réalisées en <strong>JavaScript</strong>. Aucun framework ni aucune librairie de ce langage n'ont été nécessaires.</p>

<h3>Public cible</h3>

<p>Toute personne, homme ou femme, plus jeune ou plus âgée, intéressée par le sport et désireuse d'acquérir des accessoires utiles à la pratique de l'activité physique peut trouver son bonheur sur notre site.</p>

<p>En ces périodes de mobilité restreinte, l'e-commerce est présent pour fournir au consommateur les articles de loisir auquel il n'aurait que difficilement accès autrement.</p>
{% endblock %}