
header h2{
    color: white;
}

a, a:link, a:visited{
    color: white;
}

a.btn, a.btn:link, a.btn:visited{
    color: initial;
}

a:hover a.btn:hover{
    color: lightgray
}

footer{
    position: fixed;
    bottom: 0;
}

li{
    list-style: none;
}

table img{
    max-width: 150px;
    max-height: 150px;
}