@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

:root {
    --facebook-blue: #4867aa;
    --twitter-blue: #00a2f3;
    --linkedin-blue: #0077b5;
    --instagram-purple: #b431ae;
    --youtube-red: #ff0000;

    --gradient1: linear-gradient(to left, #06f, #03f, #00f);
    --gradient2: linear-gradient(to right, #f2f2f2, #f9f9f9);
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.card a:link, .card a:visited{
    text-decoration: none;
    color: black;
}
/*  */
/*  */

header {
    background: #06f;
    background: var(--gradient1);
}

nav {
    display: flex;
    justify-content: space-around;
}

header a {
    text-decoration: none;
    color: #fff;
}

header a:hover {
    color: gold;
}

.navbar-toggler {
    border-color: #fff !important;
    border-style: solid !important;
}

.navbar-brand {
    font-size: 2rem;
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
    font-family: 'Orbitron', 'Saira', Verdana, Geneva, Tahoma, sans-serif;
    transition: color .5s;
}

.navbar-brand:hover, #icons i:hover {
    color: gold !important;
}

#icons i {
    color: #fff;
    font-size: 2rem;
}


/*  */
/*  */

footer {
    font-family: 'Shippori Mincho', 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50vh;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer .col-4 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer li {
    text-align: center;
    cursor: pointer;
}

footer li:hover:not(#social-media li:hover), footer a:hover {
    color: gold;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer i[class*="facebook"]:hover {
    color: var(--facebook-blue);
}

footer i[class*="twitter"]:hover {
    color: var(--twitter-blue);
}
footer i[class*="instagram"]:hover {
    color: var(--instagram-purple);
}
footer i[class*="linkedin"]:hover {
    color: var(--linkedin-blue);
}
footer i[class*="youtube"]:hover {
    color: var(--youtube-red);
}
/*  */
/*  */

.main {
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

/*  */
/*  */

.cards-container-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

#accueil-categories .row {
    margin-bottom: 1.5em;
}

#accueil-categories .col-12 {
    padding: 0;
}

#accueil-categories .col-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#accueil-categories a {
    margin-bottom: .85em;
}

#accueil-categories img {
    width: 40vw;
}

#accueil-categories img:hover {
    filter: opacity(.9);
}

/*  */
/*  */

.contact-form-div div.form-group {
    margin-bottom: .5em;
}

label[for="contact_fichier"] {
    margin-bottom: .5em;
}

.contact-form-div input[type="file"] {
    display: none;
}

.custom-file-label::before {
    content: "Parcourir";
    border: 1px solid #000;
    border-radius: 3px;
    outline: none;
    margin-right: .75em;
    padding: .25em .5em;
    white-space: nowrap;
    background-color: #f9f9f9;
    -webkit-user-select: none;
    cursor: pointer;
}

.custom-file-label:hover::before {
    background-color: #f2f2f2;
}

.required::after {
    content: " *";
    color: rgb(185, 30, 30);
    font-size: large;
}

/*  */
/*  */

.bg-gray1 {
    background: rgb(194,194,194);
    background: var(--gradient2);
}

/* PAGE NEWSLETTER */

#newsletter_envoyer {
    margin-top: 20px;
}

label[for='newsletter_email'] {
    margin-bottom: 20px;
}

.texte {
    font-weight: 800;
}

/*  */
/*  */
/*  */

@media screen and (max-width: 992px) {
   
    .navbar-brand {
        margin: 0;
    }

    footer li {
        font-size: .8em;
    }

    footer h3 {
        font-size: .9em;
    }

    .cards-container-3 {
        grid-template-columns: 1fr;
    }
}
