@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

/*  */
/*  */

#head a {
    text-decoration: none;
    color: #fff;
}

#head a:hover {
    color: gold;
}

#head .row > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#head h1 {
    border: 1px solid #444;
    border-radius: 5px;
    padding: .115em .5em;
}

#head h1:hover {
    border-color: gold;
}

#head .col-3 {
    padding: 0;
}

/*  */
/*  */

nav ul {
    list-style-type: none;
}

nav li {
    /* Ne pas mettre de marge ! Ça fausse le centrage. */
    cursor: pointer;
    transition: background-color .25s;
}

nav li:hover {
    background-color: cornflowerblue;
}

nav a {
    text-transform: uppercase;
    padding: 1rem;
    color: #000;
    text-align: center;
}

nav a:hover {
    color: #fff;
}

/*  */
/*  */

footer {
    font-family: 'Shippori Mincho', 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer .col-4 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer li {
    text-align: center;
}

footer li:hover, footer a:hover {
    color: gold;
    cursor: pointer;
}

footer a {
    text-decoration: none;
    color: #fff;
}
/*  */
/*  */

.main {
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.cards .card {
    margin-right: 20px;
    cursor: pointer;
}

.cards .card img {
    width: 350px;
}

.cards .card .card-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

#accueil-categories .row {
    margin-bottom: 1.5em;
}

#accueil-categories .col-12 {
    padding: 0;
}

#accueil-categories .col-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#accueil-categories a {
    margin-bottom: .85em;
}

#accueil-categories img {
    width: 40vw;
}

#accueil-categories img:hover {
    filter: opacity(.9);
}

/*  */
/*  */

/* .contact-form-div {
    border: 1px solid #000;
    border-radius: 5px 20px;
    box-shadow: .25rem 0.75rem 0.75rem;
    background-color: rgba(175, 175, 175, 0.475);
} */

.contact-form-div div.form-group {
    margin-bottom: .5em;
}

label[for="contact_fichier"] {
    margin-bottom: .5em;
}

.contact-form-div input[type="file"] {
    display: none;
}

.custom-file-label::before {
    content: "Parcourir";
    border: 1px solid #000;
    border-radius: 3px;
    outline: none;
    margin-right: .75em;
    padding: .25em .5em;
    white-space: nowrap;
    background-color: #f9f9f9;
    -webkit-user-select: none;
    cursor: pointer;
}

.custom-file-label:hover::before {
    background-color: #f2f2f2;
}

.required::after {
    content: " *";
    color: rgb(185, 30, 30);
    font-size: large;
}

/*  */
/*  */

.bg-gray1 {
    background: rgb(194,194,194);
    background: linear-gradient(235deg, rgba(194,194,194,1) 50%, rgba(210,210,210,1) 100%);
}

/*  */
/*  */