{% extends 'baseAdmin.html.twig' %}

{% block title %}Utilisateur - formulaire{% endblock title %}

{% block body %}

<h2 class="pb-5">Formulaire - utilisateur</h2>

    {{ form_start(userForm) }}
    {{ form_end(userForm) }}

{% endblock %}