    <p> Félicitation pour votre achat {{ prenom }} {{ nom }} ! 
        
        Votre commande a bien été prise en compte. Une fois votre commande expédié, vous recevrez un mail avec le numéro de suivi.</p>

    <p>A bientôt sur notre site ou dans notre <a href="http://projet-wf3.infinityfreeapp.com/carte">boutique</a> !</p>