{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="row d-flex justify-content-center flex-wrap">
        {% for sousCategorie in sousCategories %}
            <div class="col-5 pb-5 mb-5">
                <div class="card h-100">
                        <img class="card-img-top" style="height: 450px;" src="{{ asset('img/2-sous-categories/FootBall/' ~ sousCategorie.img) }}" alt="Image non disponible." class="img-fluid img-responsive">
                    <div class="card-body">
                        <h2 class="card-title text-center">{{ sousCategorie.nom }}</h2>
                    </div>
                </div>
                    <div class="card-body text-center bg-secondary" style="font-weight: bolder;">
                        <a href="{{ path('produits_souscategories', {'cat':'Volleyball', 'sousCat':sousCategorie.nom}) }}" class="btn" style="font-weight: bolder;">Voir plus de détails</a>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}