{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}

    <h1 class="text-center">Nous contacter</h1>

    <div class="col-4 mx-auto mb-5 p-3 page-container">
        {{ form_start(formulaireContact) }}
        {{ form_end(formulaireContact) }}
    </div>

{% endblock %}