<footer>
    <div>
        <p><a href="/contact" class="text-light text-decoration-none">Service client <i class="fas fa-headset"></i></a></p>
        <p>Livraison rapide <i class="fas fa-shipping-fast"></i></p>
        <p>Retour gratuit sous 30 jours <i class="fas fa-undo"></i></p>
        <p>Paiement sécurisé <i class="fas fa-shield-alt"></i></p>
    </div>

    <div class="copy">
        <p>Qui sommes nous ?</p>
        <p>Conditions générales</p>        
        <p>Mentions légales</p>     
        <p>Politique de confidentialité et en matière de cookies</p> 
    </div>

    <div class="social-media">
        <p><i class="fab fa-facebook-f"></i></p>
        <p><i class="fab fa-twitter"></i></p>
        <p><i class="fab fa-instagram"></i></p>
        <p><i class="fab fa-linkedin-in"></i></p>
        <p><i class="fab fa-youtube"></i></p>
        <p><i class="fas fa-map-marked-alt"></i></p>
    </div>
</footer>