<header class="mb-5 p-3 text-light">
    <div class="row">
        <div class="col-3 d-flex justify-content-center align-items-center">
            <div id="brand">
                <a href="{{ path('home') }}" title="Page d'accueil">
                    <h1 class="mb-0 fs-1">WF-Sport</h1>
                </a>
            </div>
        </div>
        <div class="col-6 d-flex align-items-center">
            <div class="col-9 mx-auto">
                <nav class="navbar navbar-expand navbar-lg p-0 w-100 d-flex justify-content-center">
                    <ul class="p-0 m-0 w-100">
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn text-light text-uppercase" type="button" id="football-dropdown" data-bs-toggle="dropdown" aria-expanded="false">Football</button>
                                <ul class="dropdown-menu" aria-labelledby="football-dropdown">
                                    <li>
                                        <a href="" class="dropdown-item">Ballons</a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item">Maillots</a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item">Chaussures</a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item">Sacs</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn text-light text-uppercase" type="button" id="basketball-dropdown" data-bs-toggle="dropdown" aria-expanded="false">basketball</button>
                                <ul class="dropdown-menu" aria-labelledby="basketball-dropdown">
                                    <li>
                                        <a href="" class="dropdown-item">Ballons</a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item">Maillots</a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item">Chaussures</a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item">Sacs</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn text-light text-uppercase" type="button" id="handball-dropdown" data-bs-toggle="dropdown" aria-expanded="false">handball</button>
                                <ul class="dropdown-menu" aria-labelledby="handball-dropdown">
                                    <li>
                                        <a href="" class="dropdown-item">Ballons</a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item">Maillots</a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item">Chaussures</a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item">Sacs</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn text-light text-uppercase" type="button" id="volleyball-dropdown" data-bs-toggle="dropdown" aria-expanded="false">Volleyball</button>
                                <ul class="dropdown-menu" aria-labelledby="volleyball-dropdown">
                                    <li>
                                        <a href="" class="dropdown-item">Ballons</a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item">Maillots</a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item">Chaussures</a>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-item">Sacs</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-center align-items-center">
            <div class="fs-2" id="icons">
                <a href="{{ path('app_login') }}" title="Connexion">
                    <i class="bi bi-box-arrow-in-right"></i>
                </a>
                <a href="" title="Mon compte">
                    <i class="bi bi-person"></i>
                </a>
                <a href="{{ path('panier') }}" title="Mon panier">
                    <i class="bi bi-bag"></i>
                </a>
                <a href="{{ path('app_logout') }}" title="Déconnexion">
                    <i class="bi bi-box-arrow-left"></i>
                </a>
            </div>
        </div>
    </div>
</header>