<header>
    <section id="head">
        <div class="flex">
            <div class="logo"><h1>PS</h1></div>
            <div class="recherche"><input type="text" class="form-control" placeholder="Recherche"></div>
            <div class="mini-nav"><i class="far fa-user"></i><i class="far fa-heart"></i><i class="fa fa-shopping-bag"></i></div>
        </div>
    </section>

    <section id="nav">
        <div class="barre">
            <ul>
                <li class="homme-li">Homme</li>
                <li class="femme-li">Femme</li>
                <li class="enfant-li">Enfant</li>
                <li class="accessoire-li">Accessoires</li>
            </ul>
        </div>
    </section>
</header>