<header>
    <div class="p-3 bg-dark text-light" id="head">
        <div class="row">
            <div class="col-3">
                <div id="brand">
                    <h1 class="mb-0 fs-1">WF-Sport</h1>
                </div>
            </div>
            <div class="col-6">
                <div class="w-100" id="search-bar">
                    <input type="search" class="form-control w-100" placeholder="Recherche">
                </div>
            </div>
            <div class="col-3">
                <div class="fs-2" id="icons">
                    <i class="fas fa-globe-europe"></i>
                    <i class="far fa-user"></i>
                    <i class="far fa-heart"></i>
                    <i class="fa fa-shopping-bag"></i>
                </div>
            </div>
        </div>
    </div>
    
    
    <nav>
        <ul>
            <li class="nav-item">
                <a href="" class="nav-link">Football</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Basketball</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Handball</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Volleyball</a>
            </li>
        </ul>
    </nav>

</header>