<header>
    <section id="head">
        <div class="d-flex">
            <div class="logo">
                <h1>PS</h1>
            </div>
            <div class="recherche">
                <input type="text" class="form-control" placeholder="Recherche">
            </div>
            <div class="mini-nav">
                <i class="far fa-user"></i><i class="far fa-heart"></i><i class="fa fa-shopping-bag"></i>
            </div>
        </div>
    </section>

    <nav>
        <ul>
            <li class="nav-item">
                <a href="" class="nav-link">Hommes</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Femmes</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Enfant</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Accessoires</a>
            </li>
        </ul>
    </nav>

</header>