<header>
    <section id="head">
        <div class="flex">
            <div class="logo"><h1>WBS</h1></div>
            <div class="recherche"><input type="text" class="form-control" placeholder="Recherche"></div>
            <div class="mini-nav"><i class="fas fa-globe-europe"></i><i class="far fa-user"></i><i class="far fa-heart"></i><i class="fa fa-shopping-bag"></i></div>
        </div>
    </section>

    <section id="nav">
        <div class="barre">
            <ul>
                <li class="homme-li">Football</li>
                <li class="femme-li">Basketball</li>
                <li class="enfant-li">Volleyball</li>
                <li class="accessoire-li">Handball</li>
            </ul>
        </div>
    </section>

    <nav>
        <ul>
            <li class="nav-item">
                <a href="" class="nav-link">Hommes</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Femmes</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Enfant</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Accessoires</a>
            </li>
        </ul>
    </nav>

</header>